/* Sidebar styling */
.sidebar {
  background-color: #111111;
}

.sidebar-button {
  background-image: none;
  background-color: #222222;
  color: #f5f5f5;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.sidebar-button:hover {
  background-color: #333333;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

.sidebar-button:active {
  background-color: #444444;
}

.status-label {
  background-color: #111111;
  color: white;
  font-weight: bold;
  border: none;
}

.content-box {
  background-color: #111111;
}