Source: neoguvc
Section: graphics
Priority: optional
Maintainer: Carlos Eduardo Obristo <carlos.eduardo@policorp.com.br>
Build-Depends: debhelper-compat (= 13),
               cmake,
               intltool,
               libsdl2-dev,
               libgtk-3-dev,
               libgtkmm-3.0-dev,
               portaudio19-dev,
               libpng-dev,
               libtwolame-dev,
               libavcodec-dev,
               libv4l-dev,
               libudev-dev,
               libusb-1.0-0-dev,
               libgsl-dev
Standards-Version: 4.7.0
Vcs-Git: https://salsa.debian.org/debian/guvcview.git
Rules-Requires-Root: no

Package: neoguvc
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: uvcdynctrl
Description: GTK+ base UVC Viewer (includes runtime libraries)
 neoguvc é uma interface GTK+ para captura e visualização de vídeo a partir de
 dispositivos suportados pelo driver UVC do Linux.
 .
 Este pacote incorpora os binários e também as bibliotecas/headers necessários
 para uso e desenvolvimento.
